In [1]:
import pandas as pd
df = pd.read_csv("airlines.csv")

In [2]:
df

,index,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
0,0,-1,Unknown,\N,-,NaN,\N,\N,Y
1,1,1,Private flight,\N,-,NaN,NaN,NaN,Y
2,2,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
3,3,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
4,4,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
...,...,...,...,...,...,...,...,...,...
6157,6157,21248,GX Airlines,NaN,NaN,CBG,SPRAY,China,Y
6158,6158,21251,Lynx Aviation (L3/SSX),NaN,NaN,SSX,Shasta,United States,N
6159,6159,21268,Jetgo Australia,NaN,JG,\N,NaN,Australia,Y
6160,6160,21270,Air Carnival,NaN,2S,\N,NaN,India,Y
6161,6161,21317,Svyaz Rossiya,Russian Commuter,7R,SJM,RussianConnecty,Russia,Y

In [ ]:
df2 = pd.read_csv("airplanes.csv")

In [ ]:
airports_raw = airports_raw[airports_raw.Longitude > 0]
airports_raw.head()

In [ ]:
airports_raw['Hemisphere'] = np.where(airports_raw['Latitude'] < 0, 'S', 'N')
airports_raw[4:8]

In [ ]:
routes_raw = pd.read_csv("routes.csv.zip", 
                       usecols=[3, 5, 8])
routes_raw.head()

In [ ]:
airports_raw = pd.read_csv("airports.csv",  
                       usecols=[2, 3, 4, 5, 7, 8]) 
airports_raw.head()

In [ ]:
airports_raw = pd.read_csv("airports.csv",  
                       usecols=[2, 3, 4, 5, 7, 8]) 
airports_raw.head()

In [ ]:
airport_nodes = pd.DataFrame(airport_nodes, columns = ['IATA'])
airport_nodes = pd.merge(airport_nodes, airports_columns, on='IATA', how='inner')
airport_nodes.head()

In [ ]:
G.node['AYP']

In [ ]:
# g.get_edge_data('CUZ','LIM')

In [ ]:
airports_raw = pd.read_csv("airports.csv",  
                       usecols=[2, 3, 4, 5, 7, 8]) 
airports_raw.head()

In [ ]:
G = nx.from_pandas_edgelist(routes, 'Source airport', 'Destination airport', True, nx.DiGraph())
nx.set_node_attributes(G, airport_nodes.set_index('IATA').to_dict('index'))

In [ ]:
deg = nx.degree(G)

In [ ]:
deg = nx.degree_centrality(G)

In [ ]:
deg_df = pd.DataFrame(deg, columns=['IATA', 'Degree Centrality'])

In [ ]:
deg_df = pd.DataFrame(deg, columns = ['IATA', 'Deg_Centrality'])
deg_df = pd.merge(deg_df, airports_columns, on='IATA', how='inner')
sorted_deg = deg_df.sort_values('Deg_Centrality', ascending = False)
sorted_deg.head()

In [ ]:
airports_dc_df = pd.DataFrame.from_dict(eig, orient='index').reset_index()
eig_df.columns = ['IATA', 'Eig_Centrality']
eig_df = pd.merge(eig_df, airports_raw, on='IATA', how='inner')
sorted_eig = eig_df.sort_values('Eig_Centrality', ascending = False)
sorted_eig.head()

In [ ]:
airports_raw = pd.read_csv("airports.csv",  
                       usecols=[2, 3, 4, 5, 7, 8]) 
airports_raw.head()

In [ ]:
## build a table with centralities 
data2 = [[name,degree_airports[name], airports_dc[name],airports_eig[name]] for name in airport_names]
# combine all values into one dataframe
airport_df2 = pd.DataFrame.from_records(data2, columns=['Airport', 'Degree', 'Degree Centrality', 'Eigenvector Centrality'])

In [ ]:
data2 = [[name,degree_airports[name], airports_dc[name],airports_eig[name]] for name in airport_names]

In [ ]:
airports_df2

In [ ]:
names1=[x[0] for x in ds[:10]]
names2=[x[0] for x in cs[:10]]
names3=[x[0] for x in bs[:10]]
## use Python sets to compute a union of the sets
names=list(set(names1) | set(names2) | set (names3))
## build a table with centralities
table=[[name,d[name],c[name],b[name]] for name in names]

In [ ]:
airports_deg_conn = [x[0] for x in top_5_airports_degree]
airports_dc = [x[0] for x in top_5_airports_dc]
airports_ec = [x[0] for x in top_5_airports_eig]


## use Python sets to compute a union of the sets 
airport_names = list(set(airports_deg_conn) | set(airports_dc) | set(airports_ec)) 

## build a table with centralities 
#data2 = [[name,degree_birds[name], birds_dc[name],birds_betweenness[name],birds_closeness[name]] for name in bird_names]
data2 = [[name,degree_airports[name], airports_dc[name],airports_eig[name]] for name in airport_names]
# combine all values into one dataframe
#airport_df2 = pd.DataFrame.from_records(data2, columns=['Airport', 'Degree', 'Degree Centrality', 'Eigenvector Centrality'])

In [ ]:
# get the top 5
airports_dc_sorted = sorted(airports_dc.items(), key=lambda item: item[1], reverse=True)
top_5_airports_dc = airports_dc_sorted[:5]
top_5_airports_dc

In [ ]:
# set plot size
plt.rcParams["figure.figsize"] = (15,15)

# create empty list for node colors
colors = []

# for each node in the graph append the W or E color to the list
for node, data in G.nodes(data=True):
    if data['Hemisphere'] == 'W':
        colors.append('steelblue')         
    else:
        colors.append('coral')

# Draw the Graph
nx.draw(G, with_labels=True, node_size=400, node_color=colors, font_weight='bold', 
        edge_color="grey", alpha=0.7)

In [ ]:
eigW = airports_eig_df[airports_eig_df.Hemisphere=='W']
eigE = airports_eig_df[airports_eig_df.Hemisphere=='E']

In [ ]:
degW1 = degW.iloc[:,[1]]
degE1 = degE.iloc[:,[1]]

t_deg,p_deg = stats.ttest_ind(degW1.values,degE1.values)

t_deg

In [ ]:
p_deg

In [ ]:
t_eig, p_eig = stats.ttest_ind(eigW.iloc[:,1],eigE.iloc[:,1])

p_eig

In [ ]:
t_eig

In [ ]:
t_dc, p_dc = stats.ttest_ind(dcW.iloc[:,1],dcE.iloc[:,1])

t_dc

In [ ]:
p_dc

In [ ]:
# Perform independent t-test
degW1 = degW.iloc[:,[1]]
degE1 = degE.iloc[:,[1]]
t_stat, p_value = stats.ttest_ind(degW1, degE1)

print(f"T-Value: {t_stat}, P-Value: {p_value}")

# Interpretation
if p_value < 0.05:
    print("The two groups are significantly different!")
else:
    print("No significant difference between groups.")